<!DOCTYPE html>
<html>
<head>
    <title>Spendings</title>
    <meta charset="UTF-8" />
    <!--<link rel="stylesheet" href="index.css">-->
    <meta name="description" content="Application to get an overview over your spendings">
    <meta name="keywords" content="finance spendings">
</head>
<body>
    <h1>Spendings</h1>
    <hr>
    <div id="navigation">
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'monthly_overview' %}">Monthly Overview</a>
        <a href="{% url 'edit_categories' %}">Edit Categories</a>
    </div>
    
    {% block content %}
    {% endblock %}
</body>
</html>