{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Edit Category</h2>
    <br>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                {{ categoryForm.name }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="submit" class="form-control btn btn-secondary" name="edit-category" value="Rename">
            </div>
            <div class="col">
                <input type="submit" class="form-control btn btn-danger" name="delete-category" value="Delete">
            </div>
        </div>
    </form>
</div>

{% endblock %}