{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Categories</h2>
    
    <br>
    
    <form action="{% url 'categories' %}" method="post">
        {% csrf_token %}
        {{ categoryForm }}
        <input type="submit" class="form-control btn-secondary" name="submit-new-category" value="Add">
    </form>
    
    <br>
    
    <table class="table table-hover">
        <tbody>
            {% for category in categories %}
            <tr>
                <td>
                    <a href="{% url 'category_edit' category.id %}">
                        <div>
                            {{ category.name }}
                        </div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}