{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Edit Category</h2>
    <br>

    <form id="category-form" method="post" url="{% url 'category_edit_api' categoryForm.instance.id %}">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ categoryForm.name }}
            </div>
            <div class="col">
                <button type="submit" class="form-control btn btn-outline-secondary w-100" >
                    <i class="bi bi-save"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_scripts %}
{% load static %}
<script type="module" src="{% static 'js/category-edit.js' %}"></script>
{% endblock %}