{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="container" style="width: 50%;">
        <h2>Categories</h2>
        
        <br>
        
        <form id="category-form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col col-8">
                    {{ categoryForm.name }}
                </div>
                <div class="col col-4">
                    <button id="category-submit-btn" type="submit" class="form-control btn btn-secondary" name="submit-new-category" value="Add">
                        <i class="bi bi-folder-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <br>

    <div class="container" style="width: 50%;">
        <table id="category-table" class="table table-striped"></table>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
{% load static %}
<script type="module" src="{% static 'js/category-post.js' %}"></script>
<script type="module" src="{% static 'js/category-view.js' %}"></script>
<script src="{% static 'js/category-delete.js' %}"></script>
{% endblock %}