{% extends 'base.html' %}

{% block content %}
<h2>Enter new spending</h1>
<form action="{% url 'spending_submit' %}" method="post">
    {% csrf_token %}
    {{ spendingForm }}
    <input type="submit" name="submit-spending" value="Submit">
</form>

<h2>Recent Spendings</h2>
{% if spendings|length != 0 %}
<div class="spendings-container">
{% for spending in spendings %}
    <div class="spending-container">
        <p style="display: inline-block;">{{ spending.spendingDate }} |</p>
        <p style="display: inline-block;">{{ spending.description }} |</p>
        <p style="display: inline-block;">{{ spending.amount }} |</p>
        <p style="display: inline-block;">{{ spending.category }} |</p>
        <a href="{% url 'spending_edit' spending.id %}">Edit</a>
    </div>
{% endfor %}
</div>
{% else %}
<p>No entries found</p>
{% endif %}

{% endblock %}
