{% extends 'base.html' %}

{% block content %}

<div class="container">
    
    <h2>Submit Spending</h2>
    <br>
    
    
    <form action="{% url 'spending_submit' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="row mb-3">
                <div class="col-4">
                    {{ spendingForm.spendingDate }}
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-secondary form-control" onclick="insertTodaysDate(document.getElementById('id_spendingDate'))">today</button>
                </div>
                <div class="col-6">
                    {{ spendingForm.description }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ spendingForm.amount }}
            </div>
            <div class="col">
                {{ spendingForm.category }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="submit" class="btn btn-secondary form-control" name="submit-spending" value="Submit">
            </div>
        </div>
    </form>
    <br>
    
    <h2>Recently submitted</h2>
    <br>
    
    {% if spendings|length != 0 %}
    
    <table id="table-spendings" class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="col-xs-1">Date</th>
                <th>Category</th>
                <th>Description</th>
                <th class="text-end">Amount</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for spending in spendings %}
            <tr>
                <td>
                    {{ spending.spendingDate }}
                </td>
                <td>
                    {{ spending.category }}
                </td>
                <td>
                    {{ spending.description }}
                </td>
                <td class="text-end">
                    <a 
                        class="link-underline link-underline-opacity-0" 
                        href="{% url 'spending_edit' spending.id %}">
                        {{ spending.amount|floatformat:2 }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% else %}
    <p>No entries found</p>
    {% endif %}
</div>

{% load static %}
<script src="{% static 'js/today.js' %}"></script>

{% endblock %}
