{% extends 'base.html' %}

{% block content %}

<h2>Monthly Overview</h2>
<form action="{% url 'monthly_overview' %}" method="post">
    {% csrf_token %}
    {{ monthForm }}
    <input type="submit" name="request-month-overview" value="Show">
</form>

{% if monthlySpendings|length != 0 %}
<div class="spendings-container">
{% for spending in monthlySpendings %}
    <div class="spending-container">
        <p style="display: inline-block;">{{ spending.spendingDate }} |</p>
        <p style="display: inline-block;">{{ spending.description }} |</p>
        <p style="display: inline-block;">{{ spending.amount }} |</p>
        <p style="display: inline-block;">{{ spending.category }}</p>
        <a href="{% url 'spending_edit' spending.id %}">Edit</a>
    </div>
{% endfor %}
</div>
<br>
<div><b>Total: {{total}}</b></div>
{% else %}
<p>No entries found</p>
{% endif %}

{% endblock %}