{% extends 'base.html' %}

{% block content %}

<div class="container">

<h2>Monthly Overview</h2>

<br>

<form action="{% url 'monthly_overview' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ monthForm.month }}
            </div>
            <div class="col">
                {{ monthForm.year }}
            </div>
            <div class="col">
                <input type="submit" class="btn btn-secondary form-control" name="request-month-overview" value="Show">
            </div>
        </div>
    </div>
</form>

<br>

    {% if monthlySpendings|length != 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Description</th>
                <th class="text-end">Amount</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for spending in monthlySpendings %}
            <tr>
                <td>
                    {{ spending.spendingDate }}
                </td>
                <td>
                    {{ spending.category }}
                </td>
                <td>
                    {{ spending.description }}
                </td>
                <td class="text-end">
                    <a 
                        class="link-underline link-underline-opacity-0" 
                        href="{% url 'spending_edit' spending.id %}">
                        {{ spending.amount|floatformat:2 }}
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tfoot class="table-group-divider">
                <tr>
                    <td></td>
                    <td></td>
                    <th class="text-end">Total</td>
                    <th class="text-end">{{ total|floatformat:2 }}</td>
                </tr>
            </tfoot>
        </tbody>
    </table>
    {% else %}
    <p>No entries found</p>
    {% endif %}
</div>

{% endblock %}