{% extends 'base.html' %}

{% block content %}


<div id="change-password-container" class="container">
    <h2>Change your password</h2>
    <form id="change-password-form">
        {% csrf_token %}
        <div class="row my-3">
            <div class="col"><input type="password" class="form-control" id="old-password" name="old-password" placeholder="Old Password" required></div>
        </div>
        <div class="row my-1">
            <div class="col"><input type="password" class="form-control" id="new-password1" name="new-password1" placeholder="New password" required></div>
        </div>
        <div class="row my-1">
            <div class="col"><input type="password" class="form-control" id="new-password2" name="new-password2" placeholder="Confirm new password" required></div>
        </div>
        <div class="row my-3">
            <div class="col"><button id="change-password-button" class="form-control btn btn-outline-secondary">Change</button></div>
        </div>
    </form>
</div>



{% endblock %}

{% block extra_scripts %}

{% load static %}
<script type="module" src="{% static 'js/auth/change-password.js' %}"></script>

{% endblock %}