{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Edit spending</h2>
    <br>

    <form id="edit-spending-form" action="" method="post" data-edit-url="{% url 'spending_edit_api' spendingForm.instance.id %}">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                {{ spendingForm.spendingDate }}
            </div>
            <div class="col">
                {{ spendingForm.description }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ spendingForm.amount }}
            </div>
            <div class="col">
                {{ spendingForm.category }}
            </div>
        </div>
        <div class="row mb-3">

            
            <div class="col">
                <button id="edit-spending-api-button" type="button" class="btn btn-outline-secondary form-control">
                    <i class="bi bi-save"></i>
                </button>
            </div>
            <div class="col">
                <button type="submit" name="delete-spending" class="btn btn-outline-danger form-control">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </form>

</div>

{% endblock %}

{% block extra_scripts %}
{% load static %}
<script src="{% static 'js/spending-form-validation.js' %}"></script>
<script src="{% static 'js/edit-spending.js' %}"></script>
{% endblock %}