{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Edit spending</h2>
    <br>

    <form id="edit-spending-form" action="" method="post" data-edit-url="{% url 'spending_edit_api' spendingForm.instance.id %}">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                {{ spendingForm.spendingDate }}
            </div>
            <div class="col">
                {{ spendingForm.description }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ spendingForm.amount }}
            </div>
            <div class="col">
                {{ spendingForm.category }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="button" id="edit-spending-api-button" class="btn btn-secondary form-control">Edit (API)</button>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-danger form-control" name="delete-spending" value="Delete">
            </div>
        </div>
    </form>

</div>

{% endblock %}

{% block extra_scripts %}
{% load static %}
<script src="{% static 'js/edit-spending.js' %}"></script>
{% endblock %}