{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Edit spending</h2>
    <br>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                {{ spendingForm.spendingDate }}
            </div>
            <div class="col">
                {{ spendingForm.description }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ spendingForm.amount }}
            </div>
            <div class="col">
                {{ spendingForm.category }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="submit" class="btn btn-secondary form-control" name="edit-spending" value="Edit">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-danger form-control" name="delete-spending" value="Delete">
            </div>
        </div>
    </form>

</div>

{% endblock %}