{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h2>Yearly Overview</h2>
  <br>
  
  <form id="year-form" action="{% url 'yearly_overview' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          {{ year_form.year }}
        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
  </form>

</div> 

<br>

<div id="loader" class="text-center d-none">
  <div class="spinner-grow text-primary m-5" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div id="yearly-overview-container" class="container">

</div>

{% endblock %}

{% block extra_scripts %}
{% load static %}
<script type="module" src="{% static 'js/year-view.js' %}"></script>
{% endblock %}