{% extends 'base.html' %}

{% block content %}

<h2>Yearly Overview</h2>
<form action="{% url 'yearly_overview' %}" method="post">
    {% csrf_token %}
    {{ yearForm }}
    <input type="submit" name="request-month-overview" value="Show">
</form>

<br>

{% if categorizedSpendings|length != 0 %}
<div class="yearly-spendings-container">
    <table>
        <tr style="height: 40px;">
          <th style="width:120px"></th>
          <th style="width:100px">Jan</th>
          <th style="width:100px">Feb</th>
          <th style="width:100px">Mar</th>
          <th style="width:100px">Apr</th>
          <th style="width:100px">May</th>
          <th style="width:100px">Jun</th>
          <th style="width:100px">Jul</th>
          <th style="width:100px">Aug</th>
          <th style="width:100px">Sep</th>
          <th style="width:100px">Oct</th>
          <th style="width:100px">Nov</th>
          <th style="width:100px">Dec</th>
          <th style="width:100px">Total</th>
        </tr>
        {% for categorizedSpending in categorizedSpendings %}
        <tr style="height: 40px;">
          <th style="text-align:left">{{ categorizedSpending.category }}</th>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.1}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.2}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.3}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.4}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.5}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.6}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.7}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.8}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.9}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.10}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.11}}</td>
          <td style="text-align:right">{{ categorizedSpending.monthlyTotals.12}}</td>
          <th style="text-align:right">{{ categorizedSpending.yearlyTotalOfCategory}}</th>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Yearly total</td>
            <th style="text-align: right;">{{ yearlyTotal }}</th>
        </tr>
      </table> 
</div>
{% else %}
<p>No entries this year
{% endif %}

{% endblock %}